body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

header {
  background: linear-gradient(135deg, #ffa166);
  padding: 1em 0;
  text-align: center;
  color: white;
}

nav {
  background-color: #333;
  overflow: hidden;
}

nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  text-align:center;
  background-color:  #ffa166;
  color:  #ffffff;
}

.container {
  padding: 20px;
}

h1, h2, h3 {
  color: #333;
}

.top-players, .favorite-characters, .opinion, .similar-anime {
  margin-bottom: 30px;
}

.player-card, .character-card {
  background-color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin-bottom: 10px;
  display: flex;
}

.player-card img, .character-card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 15px;
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em 0;
  margin-top: 20px;
}
h2{
    text-align: center;
}
